* {
  box-sizing: border-box;
  /* border: rgb(255, 0, 0) 1px solid; */
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
}

.tables-container {
  border-right: black 1px solid;
  width: 25vw;
  padding: 3%;
}

.tables-container h2 {
  margin-left: 20%;
}

.menu-container {
  width: 75vw;
  padding: 3%;
  border-left: black 1.5px solid;
}

.menu-container h2 {
  margin-left: 40%;
}

.menu-container .list-item {
  cursor: move;
}

#menuSearch,
#tableSearch {
  height: 2.25rem;
  width: 50%;
  margin-bottom: 1rem;
  box-shadow: 1px #acacaf;
  padding-left: 1em;
}

.list-container {
  padding: 0em;
}

.list-item {
  width: 95%;
  list-style-type: none;
  text-align: left;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 1px 1px 1.5px rgb(172, 172, 172);
}

.list-item h3 {
  margin-top: 0;
}

.hide-from-display {
  display: none;
}

.meta-info {
  border: blue 1px solid;
}

.dropzone {
  border: rgba(12, 252, 4, 0.664) 1.5px dotted;
}

.cart-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 8%;
  /* left: 10em;
  top: 5em; */
  left: 0em;
  top: 0em;
  /* width: 70%;
  height: 70%; */
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.cart-container {
  display: flex;
  flex-flow: column;
  height: 75%;
  width: 60%;
  border-radius: 1em;
  overflow: auto;
  background-color: #fefefe;
  margin: auto;
  /* margin-right: 18%; */
  /* padding: 1.5%; */
  /* border: 0.5vh solid rgb(0, 0, 0); */
}

.cart-header {
  /* padding: 1em;
  background: rgb(0, 0, 205);
  color: white;
  font-size: 1em;
  height: 15%; */

  display: flex;
  background: rgb(48, 48, 230);
  padding-top: 1em;
  /* padding-left: 0.75em; */
  padding-bottom: 0.75em;
  color: white;
}

.cart-header h3 {
  /* display: inline-block; */
  /* top: 1em; */
  margin: auto;
  margin-left: 5%;
}

#cart-header-close-btn {
  position: relative;
  margin: auto;
  margin-right: 5%;
  font-size: 1.5em;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 1200;
}

.cart-body {
  /* border: 4px solid orange; */
  margin: 2%;
}

#empty-cart-placeHolder {
  font-weight: bold;
  text-align: center;
  color: rgb(12, 36, 248);
  font-size: 3.5vh;
}

.cart-bill-container {
  /* border: 4px solid darkblue; */
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.cart-bill-columns {
  display: none;
  /* margin: 20px; */
  display: flex;
  flex-flow: row;
  /* gap: 15%; */
  font-weight: bold;
}

.cart-bill-item {
  display: flex;
  flex-flow: row;
  gap: auto;
  margin: 2%;
}

.sno {
  width: 15%;
}

.cart-food-title {
  text-align: center;
  width: 30%;
}

.cart-food-price {
  text-align: center;
  width: 20%;
  margin-left: 4%;
}

.cart-food-servings {
  width: 22%;
}

.servings-field {
  width: 35%;
}

.cart-item-delete {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
  margin-left: 5%;
}

.cart-bill-total {
  display: none;
  font-weight: bold;
  margin-left: 51%;
  width: 20%;
  height: 20%;
  /* background-color: darkblue; */
}

.cart-footer {
  display: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 0.7em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.726);
}

.close-session {
  margin-left: 60%;
  cursor: pointer;
}

.generate-bill {
  cursor: pointer;
}
